@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  width: 7px;
  height: 7px;
  margin: 0 5px;
  border-radius: 50%;
  background: #B0986C;
  -webkit-transform: all ease 0.2s;
          transform: all ease 0.2s;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active {
  background: #008037;
}

.phoneMidia {
  width: 100%;
  height: 17px;
  background-color: #008037;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2%;
}

.phoneMidia .phone, .phoneMidia .midia {
  height: 100%;
  width: 15px;
  height: 17px;
  line-height: 18px;
}

.phoneMidia .phone p, .phoneMidia .midia p {
  font-size: 10px;
  white-space: nowrap;
  font-weight: bold;
  color: white;
}

.phoneMidia div.midia {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phoneMidia div.midia div {
  width: 17px;
  height: 17px;
}

.phoneMidia div.midia div i {
  color: white;
  cursor: pointer;
  line-height: 18px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.phoneMidia div.midia div i:hover {
  color: #B0986C;
}

nav {
  width: 100%;
  height: 50px;
  background-color: black;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #b0986c6e;
}

nav .logo {
  background-image: url(../assets/img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
}

nav div {
  height: 100%;
  width: 50px;
}

nav div.cartMenu {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div.cartMenu .menu {
  width: 90%;
  height: 100%;
}

nav div.cartMenu .menu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div.cartMenu .menu ul li a {
  font-size: 9px;
  font-weight: bold;
  color: #008037;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

nav div.cartMenu .menu ul li a:hover {
  color: #B0986C;
}

nav div.cartMenu .cart {
  width: 10%;
  height: 100%;
  text-align: right;
  line-height: 60px;
  position: relative;
}

nav div.cartMenu .cart i {
  color: #008037;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

nav div.cartMenu .cart i:hover {
  color: #B0986C;
}

nav div.cartMenu .cart p {
  position: absolute;
  top: 58%;
  font-weight: bold;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  font-size: 10px;
  color: white;
}

header {
  width: 100%;
  height: 85vh;
  padding: 0;
  background-image: url(../assets/img/bgDesktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

header::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(47%, rgba(0, 0, 0, 0.96)), to(rgba(0, 0, 0, 0.659728)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.96) 47%, rgba(0, 0, 0, 0.659728) 100%);
}

header .logoContainer {
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logoContainer .logoMiddle {
  height: 200px;
  width: 300px;
  background-image: url(../assets/img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00612a;
  width: 5px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005826;
}

section.massas {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 50px;
}

section.massas h2 {
  display: block;
  width: 120px;
  font-size: 17px;
  background: #008037;
  margin: 0 auto;
  color: white;
  padding: 3px;
  padding-right: 0;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
}

section.massas .massasContainer {
  height: 250px;
  width: 60%;
  min-width: 300px;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 50px;
}

section.massas .massasContainer .massaSingle {
  border: 4px solid #008037;
  cursor: pointer;
  height: 170px;
  width: 170px;
  margin: 0 auto;
  background-image: url(../assets/img/paoFuncional.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

section.massas .massasContainer .massaSingle .massaMenu {
  width: 100%;
  height: 50px;
  background: #00803791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  padding: 2px 5px;
  text-align: left;
  bottom: 0;
}

section.massas .massasContainer .massaSingle .massaMenu p {
  color: white;
  font-size: 13px;
}

section.massas .massasContainer .massaSingle .massaMenu p.massaInfo {
  font-size: 10px;
}

section.cardapio {
  width: 100%;
  height: 80vh;
  background: #EEEEEE;
  padding-top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

section.cardapio h2, section.cardapio h3 {
  display: block;
  width: 140px;
  text-align: center;
  font-size: 17px;
  background: #008037;
  margin: 0 auto;
  color: white;
  padding: 3px;
  padding-right: 0;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
}

section.cardapio h3 {
  color: #008037;
  background: white;
  width: 240px;
  margin-top: 20px;
}

section.cardapio .cardapioContainer {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.cardapio .cardapioContainer::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

section.cardapio .cardapioContainer .massaSingle {
  height: 150px;
  width: 190px;
  cursor: pointer;
  margin-top: 30px;
  background-image: url(../assets/img/paoFuncional2.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  border: 4px solid #B0986C;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu {
  width: 100%;
  height: 40px;
  background: #b0986cc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  padding: 2px 5px;
  text-align: left;
  bottom: 0;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu p {
  color: white;
  font-size: 13px;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .ingredientes {
  opacity: 0.95;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #ffffff;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .ingredientes:hover {
  opacity: 0.75;
}

section.middle {
  width: 100%;
  height: 35px;
  background: #EEEEEE;
}

section.galeria {
  height: auto;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

section.galeria h2 {
  display: block;
  width: 240px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  background: #008037;
  margin: 0 auto;
  color: white;
  padding: 3px;
  padding-right: 0;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  margin-bottom: 50px;
}

section.galeria .galeriaContainer {
  width: 95%;
  margin: 0 auto;
  height: 320px;
}

section.galeria .galeriaContainer .item {
  height: 320px;
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.galeria .galeriaContainer .item .galeriaSingle {
  margin: 0 auto;
  width: 150px;
  height: 145px;
  cursor: pointer;
  border: 2px solid #008037;
  background-image: url(../assets/img/brownie.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.depoimentos {
  height: auto;
  width: 100%;
  padding: 50px 0;
  background: #EEEEEE;
}

section.depoimentos h2 {
  display: block;
  width: 200px;
  text-align: center;
  font-size: 17px;
  white-space: nowrap;
  background: #008037;
  margin: 0 auto;
  color: white;
  padding: 3px;
  padding-right: 0;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  margin-bottom: 50px;
}

section.depoimentos .depoimentosContainer {
  width: 75%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

section.depoimentos .depoimentosContainer .depoimentoSingle {
  height: auto;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.depoimentos .depoimentosContainer .depoimentoSingle .depoimentoPic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #B0986C;
  background-image: url(../assets/img/e.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.depoimentos .depoimentosContainer .depoimentoSingle p {
  text-align: center;
  color: black;
  font-size: 12px;
  margin-top: 15px;
}

section.depoimentos .depoimentosContainer .depoimentoSingle p.depoimentoNome {
  color: #008037;
  font-weight: bold;
}

section.contato {
  width: 100%;
  height: 150px;
  background-color: black;
  margin-top: 50px;
}

section.contato .contatoContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contato .contatoContainer div {
  width: 100px;
}

section.contato .contatoContainer .contatoLogoMidia {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contato .contatoContainer .contatoLogoMidia .logo {
  margin: 0 auto;
  width: 90%;
  height: 65px;
  background-image: url(../assets/img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.contato .contatoContainer .contatoLogoMidia .midia {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contato .contatoContainer .contatoLogoMidia .midia div {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

section.contato .contatoContainer .contatoLogoMidia .midia div i {
  color: #008037;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

section.contato .contatoContainer .contatoLogoMidia .midia div i:hover {
  color: #B0986C;
}

section.contato .contatoContainer .contatoText {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contato .contatoContainer .contatoText p {
  display: block;
  color: white;
  font-size: 11px;
}

section.bottomNav {
  width: 100%;
  height: 20px;
  background-color: #008037;
}

section.bottomNav nav {
  height: 20px;
  background-color: #008037;
}

section.bottomNav nav div {
  margin: 0 auto !important;
}

section.bottomNav nav ul li a {
  color: #fff !important;
}

@media screen and (max-width: 720px) {
  header {
    height: 80vh;
  }
}

@media screen and (max-width: 580px) {
  header .logoContainer {
    width: 55%;
  }
}
/*# sourceMappingURL=style.css.map */